.l_LeftNav {
  width: 320px;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 400;
  transition: 250ms ease all;
}

.LeftNav {
  position: sticky;
  top: 0;
  left: 0;
  flex: 0 0 300px;
  background-color: #e1e5ec;
  border-right: 1px solid #d6d7d7;
  padding: 2rem;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
}

.LeftNav__active-indicator {
  display: none;
  position: absolute;
  left: -10px;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: #434f69;
}
.LeftNav__active-indicator.active {
  display: block;
}
.LeftNav__ul {
  padding-left: 0;
}
.LeftNav__li {
  display: block;
  position: relative;
  list-style: none;
  box-sizing: content-box;
  color: #343a40;
  margin-left: 0;
  padding: 5px 0 5px 10px;
}
.LeftNav__li:hover {
  color: #6c757d;
  text-decoration: none;
}
.LeftNav__li.active {
  font-weight: bold;
}
.LeftNav__li.active:hover {
  color: #343a40;
}
.LeftNav__li.active .LeftNav__active-indicator {
  display: block;
}

@media (max-width: 767.98px) {
  .l_LeftNav {
    opacity: 0;
    visibility: hidden;
    width: 100%;
  }

  .l_LeftNav_open {
    opacity: 1;
    visibility: visible;
  }
}

.navToggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  background-color: #434f69;
  color: white;
  font-size: 22px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 500;
}
@media (max-width: 767.98px) {
  .navToggle {
    display: block;
  }
}

.hamburger {
  padding: 19px 15px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.9;
}

.hamburger-box {
  width: 30px;
  height: 21px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -9px;
}
.hamburger-inner::after {
  bottom: -9px;
}

.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
